skrypt tworzenie pliku do banku/4i3.xlsx
skrypt tworzenie pliku do banku/4i3.xlsx
skrypt tworzenie pliku do banku/greatstore_przelewy_20250826_120424.txt
*.txt
*.csv
*.xlsx
*.xlsx
kontrahenci 3 procent/.env
kontrahenci 3 procent/.env
kontrahenci 3 procent/.env
zmiana rejestru-TEMU/$R23ZJTZ - oryginał.xml
zmiana rejestru-TEMU/$R23ZJTZ.xml
zmiana rejestru-TEMU/plik_zmieniony.xml
zmiana rejestru-TEMU/report_20250801_20250831 (10).xml
zmiana rejestru-TEMU/report_20250801_20250831 (10)_v3.xml
zmiana rejestru-TEMU/report_20250801_20250831 (9).xml
zmiana rejestru-TEMU/report_20250801_20250831 (9)_v2.xml
zmiana rejestru-TEMU/report_20250801_20250831 (9)_v3.xml
zmiana rejestru-TEMU/test1.xml
zmiana-rejestru saldeo/dokumenty_SHUMEE_2025_9.xml
zmiana rejestru-TEMU/TEMU_BEZ_NIPU_.xml
kontrahenci 3 procent/.env
zmiana rejestru-TEMU/TEMU_BEZ_NIPU_v3.xml
kontrahenci 3 procent/.env
